.stories-list {
    padding: 4rem 1rem 4rem 1rem;
    position: relative;
    font-size: 12px;
  }
  .load-more-container {
    text-align: center;
    padding-bottom: 1rem;
    position: absolute; 
    bottom: 0;
    width: calc(100% - 2rem);
  }
  
  mat-progress-bar {
    top: 64px;
  }
  
  @media only screen and (max-width: 599px) {
    mat-progress-bar {
        top: 56px;
    }
  }